extends layout

block content
  div(class="main_container")
    h1(class="title")=title
    div(class="columns  is-mobile ")
      div(class="column  is-12 ") 
        div(class="tile")
          div(class="tile is-parent is-vertical")
            article(class="tile is-child notification is-primary")
              img(class="headshot", src="./pics/lol.png")       
              img(class="thumbup", src="./pics/thumbup.png")  
              button(class="button is-primary is-light thumbup_number") #{thumbup_number_1}

              p(class="story_title") #{story_title_1}
              button(class="button is-link is-rounded readmore_button",onclick="window.location.href='http://localhost:3000/storydetail'",style="background-color: #c5ab8a") let's read
              button(class=" button is-primary is-light number_comments" ) Comments: #{comment_number_1}
    div(class="columns  is-mobile")
      div(class="column  is-12") 
        div(class="tile")
          div(class="tile is-parent is-vertical")
            article(class="tile is-child notification is-primary ")
              img(class="headshot", src="./pics/lol.png")
              img(class="thumbup", src="./pics/thumbup.png")
            
              button(class="button is-primary is-light thumbup_number") #{thumbup_number_2}
  
              p(class="story_title")  #{story_title_2}
              button(class="button is-link is-rounded readmore_button",onclick="window.location.href='http://localhost:3000/storydetail'",style="background-color: #c5ab8a") let's read
              button(class=" button is-primary is-light number_comments" ) Comments: #{comment_number_2}

    div(class="columns  is-mobile")
      div(class="column  is-12") 
        div(class="tile")
          div(class="tile is-parent is-vertical")
            article(class="tile is-child notification is-primary")
              img(class="headshot", src="./pics/lol.png")
              img(class="thumbup", src="./pics/thumbup.png")
              button(class="button is-primary is-light thumbup_number") #{thumbup_number_3}

              p(class="story_title")  #{story_title_3}
              button(class="button is-link is-rounded readmore_button",onclick="window.location.href='http://localhost:3000/storydetail'",style="background-color: #c5ab8a") let's read
              button(class=" button is-primary is-light number_comments" ) Comments: #{comment_number_3}

    nav.pagination(role='navigation' aria-label='pagination')
      a.pagination-previous(title='This is the first page' disabled='') Previous
      a.pagination-next Next page
      ul.pagination-list
        li
          a.pagination-link.is-current(aria-label='Page 1' aria-current='page') 1
        li
          a.pagination-link(aria-label='Goto page 2') 2
        li
          a.pagination-link(aria-label='Goto page 3') 3
        li
          a.pagination-link(aria-label='Goto page 4') 4
        li
          a.pagination-link(aria-label='Goto page 5') 5
        li
          a.pagination-link(aria-label='Goto page 6') 6
        li
          a.pagination-link(aria-label='Goto page 7') 7

  style(type="text/css").
    .main_container{
    text-align: center; /*让div内部文字居中*/
        margin: 100px 100px 75px 200px;
        width: 600px;
        height: 1000px;
         position: relative;
  
      }
      .tile{
        height:300px;
      }
    #lol{
        display: flex;

    }
    .readmore_button{
     left:280px;
      position: relative;
      bottom : 280px;
    width:120px;
    margin:20px;
    
    }
    .story_title{
      font-size: 30px;
      left:160px;
      position: relative;
      bottom : 240px;
      width:400px;
      height:120px;
    }
    .headshot{
      width:180px;
      height:220px;
    position: relative;
    right: 150px;
    }

    .thumbup{
      width:40px;
      height:40px;
          position: relative;
      bottom:10px;

      right:140px;
    }
    .thumbup_number{
      position: relative;
      top:170px;
       width:40px;
      height:40px;
      right:130px;

    }
    .number_comments{
      bottom:175px;
      width:120px;
      right:100
    }
    .icon_test{
      height:100px;
      width:200px;
    }

